/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$background-header: #4a4a4c;
$background-iconos-categorias: #7a7a7a;
$background-texto-categorias: #4a4a4c;
$background-acceso-informacion: #e0e0e0;
$background-categorias: #f7f7f7;
$background-organismos: #f7f7f7;
 


$color_tsj: #e3d104; // Tribunal Superior de Justicia
$color_cdm: #700; // Consejo de la Magistratura
$color_def: #00b9df; // Ministerio Publico de la defensa
$color_mpf: #22ac57; // Ministerio Publico Fiscal
$color_mpt: #4d207a; // Ministerio Publico Tutelar
 

$color-btn-pdf: #4a4a4c; // 











$background-ley-104: #7a7a7a;
$background-footer-top: #4a4a4c;
$color-list-footer: #7a7a7a;
$btn-footer:#7a7a7a;
$background-footer-bottom: #373738;
$background-nav-busqueda: #f7f7f7;
$color-btn-institucional: #e0e0e0;
$color-btn-auditoria: #e0e0e0;
$color-separador-auditorias: #c3c3c3;
$color-lupa-buscador: #4a4a4c;
$color-borde-buscador: #7a7a7a;
$color-btn-dark: #4a4a4c;
$color-btn-dark-hover:#7a7a7a;
$color-gris-contenido: #e0e0e0;
$color-gris-migapan: #7a7a7a;
$color-bordes-contenido: #c3c3c3;
$color-background-organismos: #700;
